{% extends 'todoapp/base.html' %}

{% block content  %}
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <h2>Выполненные заметки</h2>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="list-group">
      {% for el in data %}
        <a href="{% url 'detailtodo' el.id %}" class = "list-group-item list-group-item-action {% if el.impotantFlag %} list-group-item-danger {% endif %}"><b>{{el.title}}</b>{% if el.memo %} - {{el.memo|truncatechars:30}}{% endif %}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
