{% extends 'todoapp/base.html' %}
{% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <h2>Регистрация</h2>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label class="form-label" for="username">Логин</label>
        <input type="text" name="username" id = "username" class = "form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for="password1">Пароль</label>
        <input type="text" name="password1" id = "password1" class ="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
          Ваш пароль должен быть длиной 8-20 символов, содержать буквы и цифры, а также не должен содержать пробелов, специальных символов или эмодзи.
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="password2">Подтвердите пароль</label>
        <input type="text" name="password2" id = "password2" class ="form-control">
      </div>
      <br>
      <button type="submit" class = 'btn btn-info' name="button">Зарегестрироваться</button>
    </form>
    <br>
    <div class="text-center">
      Если у вас уже создан аккаунт, <a href="{% url 'loginuser' %}">войдите в него</a>
    </div>
  </div>
</div>





{% endblock %}
